* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 100vw;
    min-height: 100vh;
}

:root {
    --primary-color: #30b868;
    --primary-hover-color: #299958;
    --secondary-color: #f95555;
    --secondary2-color: #f7f6f2;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.navHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999999;
}
.navBer {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMiddle {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navMiddle a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.navBer a img {
    width: 100px;
}

.navMiddle a:hover {
    color: var(--primary-hover-color);
}

.navBer button {
    background: var(--primary-color);
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navBer button:hover {
    background: var(--primary-hover-color);
}
