* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 100vw;
    min-height: 100vh;
    background: white;
}

:root {
    --primary-color: #30b868;
    --primary-hover-color: #299958;
    --secondary-color: #f95555;
    --secondary2-color: #f7f6f2;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.navHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999999;
}
.navBer {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMiddle {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navMiddle a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.navBer a img {
    width: 100px;
}

.navMiddle a:hover {
    color: var(--primary-hover-color);
}

.navBer button {
    background: var(--primary-color);
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navBer button:hover {
    background: var(--primary-hover-color);
}

/* Hero Sections */

.HeroSec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.earlyAccessBox {
    background: white;
    padding: 10px 20px;
    border-radius: 1000px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: normal;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.indicator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.indicator::before {
    content: '';
    position: absolute;
    background: rgba(20, 114, 59, 0.301);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.indicator::after {
    content: '';
    position: absolute;
    background: rgba(31, 153, 82, 0.233);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.HeroSec h1 {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 4rem;
}

.HeroSec h1:nth-child(3) {
    color: var(--primary-color);
}

.HeroSec p {
    width: 700px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.heroSecBtnBox {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.heroSecBtnBox button {
    border: 0;
    outline: 0;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.heroSecBtnBox button:nth-child(1) {
    background: var(--primary-color);
    color: white;
}
.heroSecBtnBox button:nth-child(1):hover {
    background: var(--primary-hover-color);
}
.heroSecBtnBox button:nth-child(2) {
    background: none;
    border: 2px solid white;
    color: white;
}
.heroSecBtnBox button:nth-child(2):hover {
    background: white;
    color: black;
}
